@{
    ViewData["Title"] = "Home Page";
}


<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption" role="option">
            <p>
                Mi tio es sastre.<br />
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    Learn More
                </a>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    Learn More
                </a>
            </p>
        </div>
    </div>

</div>


