@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-inner">
        <h1>It's time to celebrate</h1>
        <h3>Quote with us and get the best offers!</h3>
        <a href="https://example.com/" class="btn">Quote</a>
        <a href="https://example.com/" class="btn">See quotes</a>
    </div>
</section>

@*<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/images/banner1.jpeg" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption" role="option">
            <h1>It's time to celebrate</h1>
            <p>
                Quote with us and get the best offers!<br /><br />
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    Quote
                </a>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    See quotes
                </a>
            </p>
        </div>
    </div>

</div>*@


