@{
    ViewData["Title"] = "Home Page";
}


<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption" role="option">
            <h1>It's time to celebrate</h1>
            <p>
                Quote with us and get the best offers!<br />
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    Quote
                </a>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    See quotes
                </a>
            </p>
        </div>
    </div>

</div>


